node_modules/
pipeline/node_modules/
pipeline/build/
*.log
.DS_Store

# GitHub Pages CI staging dir
_site/

#vscode
idle_sails.code-workspace


#custom
feature-ideas
feature-ideas/*
settings.local.json